html, body{
    padding:0;
    margin:0;
    height: 100%;
    
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
ul{
    margin:0;
    padding:0;
}
li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.top1
{
    top:0;
    left:0;    
    height: 50px;    
}
.top
{
  padding:5px;  
}
.left
{
    display: flex;
    float: left;
    justify-content: flex-start;
}
.right{
    display: flex;
    float: right;
    justify-content:flex-end;
}
.list{
  font-size: 18px;
}
.leftlist
{
  padding-right: 15px; 
  padding-bottom: 0px;   
}
.rightlist
{
  padding-left: 15px;
  padding-bottom: 0px;     
}
.center
{
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 200px;
}
.search-bar
{
  display:inline-block;
}
.bar
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}






.bottom
{
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}
